<div class="login-container">

  <div class="left-panel">

    <div class="branding">

      <h1>
        Vendor<br>
        Reliability<br>
        Intelligence<br>
        <span>Platform</span>
      </h1>

      <div class="line"></div>

      <p>Evaluate vendors.</p>
      <p>Manage procurement.</p>
      <p>Reduce risk.</p>
      <p>Drive reliability.</p>

    </div>

  </div>

  <div class="right-panel">

    <div class="login-box">

      <h2>Create Account</h2>

      <p>Sign up to get started</p>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()">

        <!-- Full Name -->

        <mat-form-field
          appearance="outline"
          class="full-width">

          <mat-label>Full Name</mat-label>

          <input
            matInput
            required
            formControlName="fullName"
            placeholder="Enter your full name">

          <mat-error
            *ngIf="registerForm.get('fullName')?.hasError('required')">
            Full Name is required
          </mat-error>

        </mat-form-field>


        <!-- Employee ID -->

        <!-- Employee ID -->

<mat-form-field
  appearance="outline"
  class="full-width">

  <mat-label>Employee ID</mat-label>

  <input
    matInput
    formControlName="employeeId"
    placeholder="Enter Employee ID"
    [required]="registerForm.get('role')?.value !== 'Vendor' &&
                registerForm.get('role')?.value !== ''">

  <mat-error
    *ngIf="registerForm.hasError('employeeIdRequired')">
    Employee ID is required for internal users
  </mat-error>

</mat-form-field>


        <!-- Company Name -->

        <!-- Company Name -->

<mat-form-field
  appearance="outline"
  class="full-width">

  <mat-label>Company Name</mat-label>

  <input
    matInput
    formControlName="companyName"
    placeholder="Enter Company Name"
    [required]="registerForm.get('role')?.value === 'Vendor'">

  <mat-error
    *ngIf="registerForm.hasError('companyNameRequired')">
    Company Name is required for Vendor
  </mat-error>

</mat-form-field>


        <!-- Email -->

        <mat-form-field
          appearance="outline"
          class="full-width">

          <mat-label>Email</mat-label>

          <input
            matInput
            required
            type="email"
            formControlName="email"
            placeholder="Enter your email">

          <mat-error
            *ngIf="registerForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>

          <mat-error
            *ngIf="registerForm.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error>

        </mat-form-field>


        <!-- Mobile Number -->

        <mat-form-field
          appearance="outline"
          class="full-width">

          <mat-label>Mobile Number</mat-label>

          <input
            matInput
            required
            formControlName="mobile"
            placeholder="Enter mobile number">

          <mat-error
            *ngIf="registerForm.get('mobile')?.hasError('required')">
            Mobile Number is required
          </mat-error>

          <mat-error
            *ngIf="registerForm.get('mobile')?.hasError('pattern')">
            Enter a valid 10 digit mobile number
          </mat-error>

        </mat-form-field>


        <!-- Role -->

        <mat-form-field
          appearance="outline"
          class="full-width">

          <mat-label>Role</mat-label>

          <mat-select
            required
            formControlName="role">

            <mat-option value="Administrator">
              Administrator
            </mat-option>

            <mat-option value="Procurement Manager">
              Procurement Manager
            </mat-option>

            <mat-option value="Supply Chain Manager">
              Supply Chain Manager
            </mat-option>

            <mat-option value="Vendor">
              Vendor
            </mat-option>

            <mat-option value="Finance Officer">
              Finance Officer
            </mat-option>

            <mat-option value="Auditor">
              Auditor
            </mat-option>

          </mat-select>

          <mat-error
            *ngIf="registerForm.get('role')?.hasError('required')">
            Please select a role
          </mat-error>

        </mat-form-field>


        <!-- Password -->

        <mat-form-field
          appearance="outline"
          class="full-width">

          <mat-label>Password</mat-label>

          <input
            matInput
            required
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            placeholder="Enter Password">

          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword">

            <mat-icon>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>

          </button>

          <mat-error
            *ngIf="registerForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>

          <mat-error
            *ngIf="registerForm.get('password')?.hasError('minlength')">
            Password must be at least 8 characters
          </mat-error>

        </mat-form-field>


        <!-- Confirm Password -->

        <mat-form-field
          appearance="outline"
          class="full-width">

          <mat-label>Confirm Password</mat-label>

          <input
            matInput
            required
            [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword"
            placeholder="Confirm Password">

          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hideConfirmPassword = !hideConfirmPassword">

            <mat-icon>
              {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>

          </button>

          <mat-error
            *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
            Confirm Password is required
          </mat-error>

          <mat-error
            *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch')">
            Passwords do not match
          </mat-error>

        </mat-form-field>


        <!-- Terms -->

        <mat-checkbox formControlName="terms">
          I agree to the Terms & Conditions
        </mat-checkbox>

        <br><br>


        <!-- Create Account -->

        <button
          mat-flat-button
          color="primary"
          class="login-btn"
          type="submit"
          [disabled]="registerForm.invalid">

          Create Account

        </button>

      </form>


      <div class="register-link">

        Already have an account?

        <a routerLink="/login">
          Sign In
        </a>

      </div>

    </div>

  </div>

</div>