.loading-overlay {

  position: fixed;
  inset: 0;

  background: rgba(0,0,0,.35);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 99999;

  animation: fadeIn .25s ease;
}

.spinner {

  width: 64px;
  height: 64px;

  border-radius: 50%;

  border: 6px solid rgba(255,255,255,.4);
  border-top-color: #2563eb;

  animation:
    spin .8s linear infinite,
    pop .25s ease;
}

p{

  margin-top:20px;

  color:white;

  font-size:18px;

  font-weight:500;

}

@keyframes spin{

  to{
    transform:rotate(360deg);
  }

}

@keyframes fadeIn{

  from{

    opacity:0;

  }

  to{

    opacity:1;

  }

}

@keyframes pop{

  from{

    transform:scale(.9);

  }

  to{

    transform:scale(1);

  }

}